footer, nav, header, section, aside {
 
display: block
 
}

body{
	 margin: 0 auto 0 auto;
	 min-width:1000px;
	 max-width:2000px;
	 
		
 }






 textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
	border-radius: 5px;	
   }

/*------------------------------------------------------------*/
A {
    color:#fff; /* Цвет ссылок */
	text-decoration: none;
   }
	   A:visited {
	    color: #fff; /* Цвет посещенных ссылок */
		text-decoration: none;
	   }
   A:hover {
    color: #fff; /* Цвет активных ссылок */
	text-decoration: none;
   }


/*header---------------------------------------*/

	.header1{

	}
	
 .imgh {
    float:left; 
	margin: 0px 	5px 0px 0;
	width:90vw;
	height:35%;
	position:absolute;
	
   }

   #h_nav{			
    font-size: 100%; 
    font-weight: bold; 
	margin: 0px 0px 0 0;	
	text-align: center;
	position: relative;
	float: right;
}

.h_nav_f{
	background:#0F7F0B; 
 	font-size: 200%; 
    font-weight: bold; 
	margin: 230px 0px 0 0;	
	width:100%;
	text-align: center;
	position: relative;
	float: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);		

}
/*body--------------------------------------------------*/
.b_news{
	background: #F5F5F5; 
 	font-size: 100%; 
    font-weight: bold; 
	margin: 20px 0px 0 0;	
	width:45vw;	
	
	position: relative;
	float: left;
	opacity: 0.9;
	box-shadow: 0 0 10px rgba(51,102,0,0.7);		
	padding-left: 1.5vw;
	border-radius: 5px 5px;

}
.b_news:hover{

		opacity: 1;

}
.b_memb{
	background: #F5F5F5; 
 	font-size: 100%; 
    font-weight: bold; 
	margin: 20px 0px 0 0;	
	width:50%;
	box-shadow: 0 0 10px rgba(51,102,0,0.7);		

	position: relative;
	float: right;
	padding-left: 1vw;
		border-radius: 5px 5px;

	
}

.b_news A {
	color:#121B91; /* Цвет ссылок */
	text-decoration: none;
}
.b_news A:hover{

	color: #121B91;
	text-decoration: underline;
}
#phmp{

	padding: 5px;
}
#lmp{
	float: right;
	font-style: italic;
	color: #C0C0C0;
	
}
/*----------4leni polati------------*/


.leftimg {
    float:left; 
    margin: 7px 7px 7px 0;
  }


  #uisp{
  	list-style-type: none;
  }
  #hcp{
  	color: #00f;
  }
  #hcp:hover{
  	  	color: #f00;

  }

  .b_cp{
	background: #F5F5F5; 
 	font-size: 100%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);		
	width:80vw;	
	margin:  20px 11vw ;
	position: relative;
	float: left;
	padding-left: 1.5vw;

}
#sht{
	text-indent: 1vw;
	font-family:  "PT Sans","Trebuchet MS","Droid Sans","Helvetica Neue","Nimbus Sans L",sans-serif;
}
/*---------------------------------------*/
footer{

  color: #fff;
  position: relative;
  float: left;
  width: 100vw;
  background:  #0F7F0B;

  margin: 2vw 0 0 0;
}


/*-----file.php----------------*/

 .b_file{
	background: #F5F5F5; 
 	font-size: 100%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);		
	width:80vw;	
	margin:  20px 11vw ;
	position: relative;
	float: left;
	padding-left: 1.5vw;

}
.b_file A{
	color: 	#121B91;
	text-decoration: none;
}
.d_file A:hover{

	color: #121B91;
	text-decoration: underline;
}


/*------------модальная-----------------*/
#modal_form {
  width: 300px; 
   /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%; /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
/* Пoдлoжкa */
#overlay {
  z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%; 
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}
/--------------------------------------------/